<nav>
    <div class="section">
        <p><strong>{{ site.name }}</strong></p>
        <ul>
            {% for item in site.data.navigation %}
            <li>
                <a href="{{ item.url }}">{{ item.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="section">
        <p><strong>Articles</strong></p>
        <ul>
            {% for post in site.posts limit:3 %}
            <li>
                <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
            <li><a class="all_articles_link" href="/all_articles.html">All Articles</a></li>
        </ul>
    </div>
    <div class="copyright">
        &copy; {{ site.time | date: '%Y' }} John Ryan
    </div>
</nav>